<div class="row">
    <div class="col-md-4 col-md-push-4">
        <div class="page-header">
            <h1>{{ __('frontend.login.title') }}</h1>
        </div>
        <div>
            {% if flash('pckg.auth.error', false) %}
                <pckg-bootstrap-alert style="danger" text="{{ flash('pckg.auth.error') }}"></pckg-bootstrap-alert>
            {% endif %}

            {{ form | raw }}
        </div>
    </div>
</div>